.navigation {
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #000;
    /* black */
    color: white;
    padding: 10px 20px;
    border: 2px solid #8b4dc9;
    /* NU purple border */
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.25s ease;
}

/* hover state */
.button:hover {
    background-color: #8b4dc9;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(139, 77, 201, 0.4);
}

/* active click */
.button:active {
    transform: translateY(0px);
    box-shadow: 0 2px 6px rgba(139, 77, 201, 0.3);
}

.title-glow {
    position: absolute;
    inset: -75px;
    /* big radius */
    pointer-events: none;
    z-index: -1;

    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.7) 30%,
            rgba(255, 255, 255, 0.4) 60%,
            rgba(255, 255, 255, 0.15) 80%,
            rgba(255, 255, 255, 0) 100%);
}

.title-glow::before {
    content: "";
    position: absolute;
    inset: -150px;
    /* size of glow area */
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.65) 50%,
            rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.hero-title {
    font-family: Georgia, serif;
}